@model List<Model.SNProduct>
@{
    ViewBag.Title = "SN";
}
<div style="padding: 50px 50px 20px;">
	<input id="currentPage" type="hidden" value="1" />
	<input id="totalPages" type="hidden" value="10" />

	<form class="form-horizontal" role="form" action="~/Spider/SN" method="post">
		<div class="form-group">
			<label class="col-lg-3 control-label col-lg-offset-1">关键字</label>
			<div class="col-lg-4 input-group">
				<input type="text" class="form-control" placeholder="请输入关键字" name="keywork">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">搜索</button>
				</span>
			</div>
		</div>

		<table class="table table-bordered">
			<caption>商品列表</caption>
			<thead>
				<tr>
					<th>商品名称</th>
					<th>价格</th>
					<th>评价数</th>
					<th>商店名称</th>
					<th>是否苏宁自营</th>
					<th>链接</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var pro in ViewData["SN"] as List<Model.SNProduct>)
			{
					<tr>
						<td>@pro.name</td>
						<td>@pro.price</td>
						<td>@pro.commit</td>
						<td>@pro.shop</td>
						<td>@pro.IsSelf</td>
						<td><a href="@pro.link">>>></a></td>
					</tr>
			}
			</tbody>
		</table>

		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			@for (var i = 1; i < Convert.ToInt32(ViewData["totalpage"]) + 1; i++)
			{
				if (i == Convert.ToInt32(ViewData["currentpage"]))
				{
					<li class="active"><a href="#">@i</a></li>
				}
				else
				{

					<li><a href="/Spider/Index?keywork=@ViewBag.keywork&page=@i">@i</a></li>
				}
			}
			<li><a href="#">&raquo;</a></li>
		</ul>
	</form>

</div>




